In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
hotel_file = 'resources/Datafiniti_Hotel_Reviews.csv'
michelin_one = 'resources/one-star-michelin-restaurants.csv'
michelin_two = 'resources/two-stars-michelin-restaurants.csv'
michelin_three = 'resources/three-stars-michelin-restaurants.csv'

In [5]:
hotel_data = pd.read_csv(hotel_file)
hotel_data.head(1)

hotel_df = pd.DataFrame(hotel_data)
hotel_df = hotel_df[
    [
        'address',
        'city',
        'country',
        'name',
        'postalCode',
        'province',
        'reviews.rating',
        'reviews.text',
        'reviews.title','websites'
    ]]
hotel_df.head()

hotel_means = pd.DataFrame(hotel_df.groupby('name')['reviews.rating'].mean())

hotel_df = pd.merge(hotel_df, hotel_means, on='name')
hotel_df.head()
hotel_df = hotel_df.rename(columns={
    'postalCode': 'postalcode',
    'reviews.rating_x': 'user_rating',
    'reviews.rating_y': 'average_rating',
    'reviews.text': 'user_review',
    'reviews.title': 'review_title'})
hotel_df = hotel_df.loc[(hotel_df['province']=='CA')]


hotel_df = hotel_df.drop_duplicates(subset=['name'])
hotel_df = hotel_df.reset_index(drop=True)
hotel_df.head()

,address,city,country,name,postalcode,province,user_rating,user_review,review_title,websites,average_rating
0,5921 Valencia Cir,Rancho Santa Fe,US,Rancho Valencia Resort Spa,92067,CA,5.00,Our experience at Rancho Valencia was absolute...,Best romantic vacation ever!!!!,http://www.ranchovalencia.com,5.000000
3,12 4th St,San Francisco,US,Hotel Zelos,94103,CA,5.00,The hotel is just one of many that are on this...,"Convenient, cute and moderately comfrotable",http://www.hotelzelos.com,4.250000
7,5300 Grand del Mar Ct,San Diego,US,Fairmont Grand Del Mar,92130,CA,5.00,We hosted our annual Client Event at The Grand...,Hosted Client Event,http://www.fairmont.com/san-diego/,4.875000
23,328 East 1st Street,Los Angeles,US,Miyako Hotel Los Angeles,90012,CA,4.40,Bad: no need Karaoke club. Good: Clean and com...,So so,http://www.miyakoinn.com,4.467500
43,225 North Canon Drive,Beverly Hills,US,Montage Beverly Hills,90210,CA,3.25,Bad: Dropped in for advice on a good Japanese ...,Rather poor for the price of a nights stay.,http://www.montagehotels.com/beverlyhills,4.018182

In [ ]:
one_data = pd.read_csv(michelin_one).dropna()
one_df = pd.DataFrame(one_data)
one_df = one_df[
    ['name', 'city', 'region', 'zipCode',
       'cuisine', 'price', 'url']
]
one_df = one_df.rename(columns={'zipCode': 'postalcode'})
one_df = one_df.loc[(one_df['region']=='California')]
one_df.columns

In [ ]:
two_data = pd.read_csv(michelin_two).dropna()
two_df = pd.DataFrame(two_data)
two_df = two_df[
    ['name', 'city', 'region', 'zipCode',
       'cuisine', 'price', 'url']
]
two_df = two_df.rename(columns={'zipCode': 'postalcode'})
two_df = two_df.loc[(two_df['region']=='California')]
len(two_df)

In [ ]:
three_data = pd.read_csv(michelin_three).dropna()
three_df = pd.DataFrame(three_data)
three_df = three_df[
    ['name', 'city', 'region', 'zipCode',
       'cuisine', 'price', 'url']
]
three_df = three_df.rename(columns={'zipCode': 'postalcode'})
three_df = three_df.loc[(three_df['region']=='California')]
len(three_df)

In [ ]:
connection_string = "postgres:postgres@localhost:5432/project2_db"
engine = create_engine(f'postgresql://{connection_string}')

In [ ]:
engine.table_names()

In [ ]:
hotel_df.to_sql(name = 'hotels', con=engine, if_exists='append', index=False)

In [ ]:
one_df.to_sql(name = 'one_star', con=engine, if_exists='append', index=False)

In [ ]:
two_df.to_sql(name = 'two_star', con=engine, if_exists='append', index=False)

In [ ]:
three_df.to_sql(name = 'three_star', con=engine, if_exists='append', index=False)